<!-- BEGIN FEATURES GALLERY -->

<div class="features_gallery">
 <div class="features_gallery_inner container">
  <div class="features_gallery_wrap">
     <h2 class="features_gallery_title wow fadeInUp">
      Our Features
     </h2>
     <h3 class="features_gallery_container_title wow fadeInUp">
      Make your life easer with “UP Real Estate.
     </h3>
     <div class="features_gallery_container">
      <div class="main_features_item">
       <div class="preview wow fadeInUp">
        <a href="#" title="main_features_item" traget="_blank">
         <img alt="features" src="img/content/features_gallery1.jpg" width="495" height="430">
        </a>
       </div>
      </div>
      <div class="small_features_item_container">

       <div class="small_features_item">
        <div class="preview wow fadeInUp">
         <a href="#" class="" title="small_features_item" traget="_blank">
          <img alt="features" src="img/content/features_gallery2.jpg" width="205" height="205">
         </a>
        </div>
       </div>

        <div class="small_features_item">
        <div class="preview wow fadeInUp"> 
         <div class="icon_container">
          <a href="#" title="small_features_item" traget="_blank">
           <i class="icon papers">
           </i>
          </a>
         </div>
         <div class="title_box">
          <span class="top_title">
           Hottest
          </span>
          <span class="bottom_title">
           Listings
          </span>
         </div>
        </div>
       </div>

        <div class="small_features_item">
        <div class="preview wow fadeInUp">
         <a href="#" title="small_features_item" traget="_blank">
          <img alt="features" src="img/content/features_gallery3.jpg" width="205" height="205">
         </a>
        </div>
       </div>

        <div class="small_features_item">
        <div class="preview wow fadeInUp"> 
         <div class="icon_container">
          <a href="#" title="small_features_item" traget="_blank">
           <i class="icon home">
           </i>
          </a>
         </div>
         <div class="title_box">
          <span class="top_title">
           Exclusive
          </span>
          <span class="bottom_title">
           Offers
          </span>
         </div>
        </div>
       </div>

        <div class="small_features_item">
        <div class="preview wow fadeInUp">
         <a href="#" title="small_features_item" traget="_blank">
          <img alt="features" src="img/content/features_gallery4.jpg" width="205" height="205">
         </a>
        </div>
       </div>

        <div class="small_features_item">
        <div class="preview wow fadeInUp"> 
         <div class="icon_container">
          <a href="#" title="small_features_item" traget="_blank">
           <i class="icon human">
           </i>
          </a>
         </div>
         <div class="title_box">
          <span class="top_title">
           Professional
          </span>
          <span class="bottom_title">
           Agents
          </span>
         </div>
        </div>
       </div>

      </div>
     </div>
   </div>
  </div>
</div> 

<!-- END FEATURES GALLERY -->