<!-- BEGIN FEATURED LISTINGS -->

 <div class="featured_listings">
   <div class="featured_listings_inner container">
    <div class="featured_listings_wrap">
     <h2 class="featured_listings_title wow fadeInUp">
      Featured Listings
     </h2>
     <h3 class="featured_listings_carousel_title wow fadeInUp">
      All Featured
     </h3>
     
     <div class="featured_listings_carousel carousel" pause-on-hover="false">

      <div class="carousel_item animated fast">
       <div class="preview">
        <img src="img/content/featured_listings_img1.jpg" width="266" height="200" alt="first property"> 
        <a data-fancybox="gallery" href="img/content/featured_listings_img1.jpg" title="zoom" class="zoom">
         <i class="fas fa-search-plus">
         </i>
        </a>
        <a title="link" href="#" class="link">
         <i class="fas fa-link">
         </i>
        </a>
        <span class="best_price">
          Best Price
        </span>
        <span class="like">
         <i class="fas fa-heart">
         </i>
        </span>
       </div>
       <div class="carousel_item_thumbnail">
        <div class="single_thumbnail first_thumbnail">
         <i class="icon bed">
         </i>
         <span class="value">
         3
         </span>
        </div>
        <div class="carousel_item_thumbnail">
        <div class="single_thumbnail middle_thumbnail">
         <i class="icon bath">
         </i>
         <span class="value">
         2
         </span>
        </div>
        <div class="carousel_item_thumbnail">
        <div class="single_thumbnail last_thumbnail">
         <i class="icon corner">
         </i>
         <span class="value">
         190 ft<sup>2</sup>
         </span>
        </div>
       </div>
      </div>
     </div>
     <div class="carousel_item_entry clearfix">
       <span class="carousel_item_title">
         <a title="Retail Space In Westside" href="#" target="_blank">
         Retail Space In Westside
        </a> 
       </span>
       <p class="carousel_item_text">
       Phasellus vestibulum mauris leo, et 
       ultricies sem ultrices nec. Nunc 
       volpat tortor vitae...
       </p>
       <div class="carousel_item_info">
        <span class="price">
        USD 999,00
        </span>
       </div>
      <div class="pull_right_icons">
       <a class="share_icon" title="share">
        <i class="fas fa-share-alt">
        </i>
       </a>
       <a class="favourite_icon" title="favourite">
        <i class="far fa-star">
        </i>
       </a>
      </div> 
     </div>
    </div> 

    <div class="carousel_item animated fast">
      <div class="preview">
        <img src="img/content/featured_listings_img2.jpg" width="266" height="200" alt="first property">
        <a data-fancybox="gallery" href="img/content/featured_listings_img2.jpg" title="zoom" class="zoom">
        <i class="fas fa-search-plus">
        </i>
        </a>
         <a title="link" href="#" class="link">
        <i class="fas fa-link">
        </i>
        </a>
         <span class="best_price">
          Best Price
        </span>
        <span class="like">
         <i class="fas fa-heart">
         </i>
        </span>
       </div>
       <div class="carousel_item_thumbnail">
        <div class="single_thumbnail first_thumbnail">
         <i class="icon bed">
         </i>
         <span class="value">
         3
         </span>
        </div>
        <div class="carousel_item_thumbnail">
        <div class="single_thumbnail middle_thumbnail">
         <i class="icon bath">
         </i>
         <span class="value">
         2
         </span>
        </div>
        <div class="carousel_item_thumbnail">
        <div class="single_thumbnail last_thumbnail">
         <i class="icon corner">
         </i>
         <span class="value">
         190 ft<sup>2</sup>
         </span>
        </div>
       </div>
      </div>
     </div>
     <div class="carousel_item_entry clearfix">
       <span class="carousel_item_title">
         <a title="Retail Space In Westside" href="#" target="_blank">
         Family House In Hudson
        </a> 
       </span>
       <p class="carousel_item_text">
       Phasellus vestibulum mauris leo, et 
       ultricies sem ultrices nec. Nunc 
       volpat tortor vitae...
       </p>
       <div class="carousel_item_info">
        <span class="price">
        USD 746,00
        </span>
       </div>
      <div class="pull_right_icons">
       <a class="share_icon" title="share">
        <i class="fas fa-share-alt">
        </i>
       </a>
       <a class="favourite_icon" title="favourite">
        <i class="far fa-star">
        </i>
       </a>
      </div> 
     </div>
    </div> 

    <div class="carousel_item animated fast">
       <div class="preview">
        <img src="img/content/featured_listings_img3.jpg" width="266" height="200" alt="first property">
        <a data-fancybox="gallery" href="img/content/featured_listings_img3.jpg"  title="zoom" class="zoom">
        <i class="fas fa-search-plus">
        </i>
        </a>
         <a title="link" href="#" class="link">
        <i class="fas fa-link">
        </i>
        </a>
         <span class="best_price">
          Best Price
        </span>
        <span class="like">
         <i class="fas fa-heart">
         </i>
        </span>
       </div>
       <div class="carousel_item_thumbnail">
        <div class="single_thumbnail first_thumbnail">
         <i class="icon bed">
         </i>
         <span class="value">
         3
         </span>
        </div>
        <div class="carousel_item_thumbnail">
        <div class="single_thumbnail middle_thumbnail">
         <i class="icon bath">
         </i>
         <span class="value">
         2
         </span>
        </div>
        <div class="carousel_item_thumbnail">
        <div class="single_thumbnail last_thumbnail">
         <i class="icon corner">
         </i>
         <span class="value">
         190 ft<sup>2</sup>
         </span>
        </div>
       </div>
      </div>
     </div>
     <div class="carousel_item_entry clearfix">
       <span class="carousel_item_title">
         <a title="Retail Space In Westside" href="#" target="_blank">
         LAKE VIEW IN MANHATTAN
        </a> 
       </span>
       <p class="carousel_item_text">
       Phasellus vestibulum mauris leo, et 
       ultricies sem ultrices nec. Nunc 
       volpat tortor vitae...
       </p>
       <div class="carousel_item_info">
        <span class="price">
        USD 234,00
        </span>
       </div>
      <div class="pull_right_icons">
       <a class="share_icon" title="share">
        <i class="fas fa-share-alt">
        </i>
       </a>
       <a class="favourite_icon" title="favourite">
        <i class="far fa-star">
        </i>
       </a>
      </div> 
     </div>
    </div> 

    <div class="carousel_item animated fast">
         <div class="preview">
        <img src="img/content/featured_listings_img4.jpg" width="266" height="200" alt="first property">
        <a data-fancybox="gallery" href="img/content/featured_listings_img4.jpg" title="zoom" class="zoom">
        <i class="fas fa-search-plus">
        </i>
        </a>
         <a title="link" href="#" class="link">
        <i class="fas fa-link">
        </i>
        </a>
         <span class="best_price">
          Best Price
        </span>
        <span class="like">
         <i class="fas fa-heart">
         </i>
        </span>
       </div>
       <div class="carousel_item_thumbnail">
        <div class="single_thumbnail first_thumbnail">
         <i class="icon bed">
         </i>
         <span class="value">
         3
         </span>
        </div>
        <div class="carousel_item_thumbnail">
        <div class="single_thumbnail middle_thumbnail">
         <i class="icon bath">
         </i>
         <span class="value">
         2
         </span>
        </div>
        <div class="carousel_item_thumbnail">
        <div class="single_thumbnail last_thumbnail">
         <i class="icon corner">
         </i>
         <span class="value">
         190 ft<sup>2</sup>
         </span>
        </div>
       </div>
      </div>
     </div>
     <div class="carousel_item_entry clearfix">
       <span class="carousel_item_title">
         <a title="Retail Space In Westside" href="#" target="_blank">
         Open House South
        </a> 
       </span>
       <p class="carousel_item_text">
       Phasellus vestibulum mauris leo, et 
       ultricies sem ultrices nec. Nunc 
       volpat tortor vitae...
       </p>
       <div class="carousel_item_info">
        <span class="price">
        USD 536,00
        </span>
       </div>
      <div class="pull_right_icons">
       <a class="share_icon" title="share">
        <i class="fas fa-share-alt">
        </i>
       </a>
       <a class="favourite_icon" title="favourite">
        <i class="far fa-star">
        </i>
       </a>
      </div> 
     </div>
    </div> 

    <div class="carousel_item animated fast">
      <div class="preview">
        <img src="img/content/featured_listings_img1.jpg" width="266" height="200" alt="first property"> 
        <a data-fancybox="gallery" href="img/content/featured_listings_img1.jpg"  title="zoom" class="zoom">
         <i class="fas fa-search-plus">
         </i>
        </a>
        <a title="link" href="#" class="link">
         <i class="fas fa-link">
         </i>
        </a>
         <span class="best_price">
          Best Price
        </span>
        <span class="like">
         <i class="fas fa-heart">
         </i>
        </span>
       </div>
       <div class="carousel_item_thumbnail">
        <div class="single_thumbnail first_thumbnail">
         <i class="icon bed">
         </i>
         <span class="value">
         3
         </span>
        </div>
        <div class="carousel_item_thumbnail">
        <div class="single_thumbnail middle_thumbnail">
         <i class="icon bath">
         </i>
         <span class="value">
         2
         </span>
        </div>
        <div class="carousel_item_thumbnail">
        <div class="single_thumbnail last_thumbnail">
         <i class="icon corner">
         </i>
         <span class="value">
         190 ft<sup>2</sup>
         </span>
        </div>
       </div>
      </div>
     </div>
     <div class="carousel_item_entry clearfix">
       <span class="carousel_item_title">
         <a title="Retail Space In Westside" href="#" target="_blank">
         Retail Space In Westside
        </a> 
       </span>
       <p class="carousel_item_text">
       Phasellus vestibulum mauris leo, et 
       ultricies sem ultrices nec. Nunc 
       volpat tortor vitae...
       </p>
       <div class="carousel_item_info">
        <span class="price">
        USD 999,00
        </span>
       </div>
      <div class="pull_right_icons">
       <a class="share_icon" title="share">
        <i class="fas fa-share-alt">
        </i>
       </a>
       <a class="favourite_icon" title="favourite">
        <i class="far fa-star">
        </i>
       </a>
      </div> 
     </div>
    </div> 

    <div class="carousel_item animated fast">
      <div class="preview">
        <img src="img/content/featured_listings_img2.jpg" width="266" height="200" alt="first property">
        <a data-fancybox="gallery" href="img/content/featured_listings_img2.jpg" title="zoom" class="zoom">
        <i class="fas fa-search-plus">
        </i>
        </a>
         <a title="link" href="#" class="link">
        <i class="fas fa-link">
        </i>
        </a>
         <span class="best_price">
          Best Price
        </span>
        <span class="like">
         <i class="fas fa-heart">
         </i>
        </span>
       </div>
       <div class="carousel_item_thumbnail">
        <div class="single_thumbnail first_thumbnail">
         <i class="icon bed">
         </i>
         <span class="value">
         3
         </span>
        </div>
        <div class="carousel_item_thumbnail">
        <div class="single_thumbnail middle_thumbnail">
         <i class="icon bath">
         </i>
         <span class="value">
         2
         </span>
        </div>
        <div class="carousel_item_thumbnail">
        <div class="single_thumbnail last_thumbnail">
         <i class="icon corner">
         </i>
         <span class="value">
         190 ft<sup>2</sup>
         </span>
        </div>
       </div>
      </div>
     </div>
     <div class="carousel_item_entry clearfix">
       <span class="carousel_item_title">
         <a title="Retail Space In Westside" href="#" target="_blank">
         Family House In Hudson
        </a> 
       </span>
       <p class="carousel_item_text">
       Phasellus vestibulum mauris leo, et 
       ultricies sem ultrices nec. Nunc 
       volpat tortor vitae...
       </p>
       <div class="carousel_item_info">
        <span class="price">
        USD 746,00
        </span>
       </div>
      <div class="pull_right_icons">
       <a class="share_icon" title="share">
        <i class="fas fa-share-alt">
        </i>
       </a>
       <a class="favourite_icon" title="favourite">
        <i class="far fa-star">
        </i>
       </a>
      </div> 
     </div>
    </div> 

    <div class="carousel_item animated fast">
       <div class="preview">
        <img src="img/content/featured_listings_img3.jpg" width="266" height="200" alt="first property">
        <a data-fancybox="gallery" href="img/content/featured_listings_img3.jpg"  title="zoom" class="zoom">
        <i class="fas fa-search-plus">
        </i>
        </a>
         <a title="link" href="#" class="link">
        <i class="fas fa-link">
        </i>
        </a>
         <span class="best_price">
          Best Price
        </span>
        <span class="like">
         <i class="fas fa-heart">
         </i>
        </span>
       </div>
       <div class="carousel_item_thumbnail">
        <div class="single_thumbnail first_thumbnail">
         <i class="icon bed">
         </i>
         <span class="value">
         3
         </span>
        </div>
        <div class="carousel_item_thumbnail">
        <div class="single_thumbnail middle_thumbnail">
         <i class="icon bath">
         </i>
         <span class="value">
         2
         </span>
        </div>
        <div class="carousel_item_thumbnail">
        <div class="single_thumbnail last_thumbnail">
         <i class="icon corner">
         </i>
         <span class="value">
         190 ft<sup>2</sup>
         </span>
        </div>
       </div>
      </div>
     </div>
     <div class="carousel_item_entry clearfix">
       <span class="carousel_item_title">
         <a title="Retail Space In Westside" href="#" target="_blank">
         LAKE VIEW IN MANHATTAN
        </a> 
       </span>
       <p class="carousel_item_text">
       Phasellus vestibulum mauris leo, et 
       ultricies sem ultrices nec. Nunc 
       volpat tortor vitae...
       </p>
       <div class="carousel_item_info">
        <span class="price">
        USD 234,00
        </span>
       </div>
      <div class="pull_right_icons">
       <a class="share_icon" title="share">
        <i class="fas fa-share-alt">
        </i>
       </a>
       <a class="favourite_icon" title="favourite">
        <i class="far fa-star">
        </i>
       </a>
      </div> 
     </div>
    </div> 

    <div class="carousel_item animated fast">
         <div class="preview">
        <img src="img/content/featured_listings_img4.jpg" width="266" height="200" alt="first property">
        <a data-fancybox="gallery" href="img/content/featured_listings_img4.jpg" title="zoom" class="zoom">
        <i class="fas fa-search-plus">
        </i>
        </a>
         <a title="link" href="#" class="link">
        <i class="fas fa-link">
        </i>
        </a>
         <span class="best_price">
          Best Price
        </span>
        <span class="like">
         <i class="fas fa-heart">
         </i>
        </span>
       </div>
       <div class="carousel_item_thumbnail">
        <div class="single_thumbnail first_thumbnail">
         <i class="icon bed">
         </i>
         <span class="value">
         3
         </span>
        </div>
        <div class="carousel_item_thumbnail">
        <div class="single_thumbnail middle_thumbnail">
         <i class="icon bath">
         </i>
         <span class="value">
         2
         </span>
        </div>
        <div class="carousel_item_thumbnail">
        <div class="single_thumbnail last_thumbnail">
         <i class="icon corner">
         </i>
         <span class="value">
         190 ft<sup>2</sup>
         </span>
        </div>
       </div>
      </div>
     </div>
     <div class="carousel_item_entry clearfix">
       <span class="carousel_item_title">
         <a title="Retail Space In Westside" href="#" target="_blank">
         Open House South
        </a> 
       </span>
       <p class="carousel_item_text">
       Phasellus vestibulum mauris leo, et 
       ultricies sem ultrices nec. Nunc 
       volpat tortor vitae...
       </p>
       <div class="carousel_item_info">
        <span class="price">
        USD 536,00
        </span>
       </div>
      <div class="pull_right_icons">
       <a class="share_icon" title="share">
        <i class="fas fa-share-alt">
        </i>
       </a>
       <a class="favourite_icon" title="favourite">
        <i class="far fa-star">
        </i>
       </a>
       </div> 
      </div>
     </div> 
    </div>
   </div>
  </div>
 </div>
 
<!-- END FEATURED LISTINGS -->