<footer class="footer">
 <div class="footer_inner container">
  <div class="footer_wrap">

   <div class="footer_item">
    <h2 class="item_title wow fadeInUp fast">
     About UP Real Estate
    </h2>
    <a href="index.html" title="footer_logo" class="item_logo wow fadeInUp fast" target="_self">
     <img src="img/content/footer_logo_white.png" width="202" height="88">
    </a>
    <span class="item_text wow fadeInUp fast">
     Aenean ut nunc vel augue hendrerit 
     consequat id eget arcu. Nam quis lectus 
     urna. Nulla blandit odio sit amet neque 
     tempus interdum ex. Integer mattis 
     egestas turpis id porttitor.
    </span>
       <ul class="item_sociable sociable_listing wow fadeInUp fast">
        <li class="sociable_item">
          <a href="#" title="facebook" target="_blank" class="sociable_icon facebook">
            <i class="fab fa-facebook-f">
            </i>
          </a>
        </li>
        <li class="sociable_item">
          <a href="#" title="linkedin" target="_blank" class="sociable_icon">
            <i class="fab fa-linkedin-in">
            </i>
          </a>
        </li>
        <li class="sociable_item">
          <a href="#" title="twitter" target="_blank" class="sociable_icon">
            <i class="fab fa-twitter">
            </i>
          </a>
        </li>
        <li class="sociable_item">
          <a href="#" title="google" target="_blank" class="sociable_icon">
            <i class="fab fa-google-plus-g">
            </i>
          </a>
        </li>
        <li class="sociable_item">
          <a href="#" title="vimeo" target="_blank" class="sociable_icon">
            <i class="fab fa-vimeo-v">
            </i>
          </a>
        </li>
        <li class="sociable_item">
          <a href="#" title="pinterest" target="_blank" class="sociable_icon pinterest">
            <i class="fab fa-pinterest-p">
            </i>
          </a>
        </li>
      </ul>
   </div>

   <div class="footer_item">
    <h2 class="item_title wow fadeInUp fast">
     Contact Info
    </h2>
     <ul class="contact_info_listing">
      <li class="wow fadeInUp fast">
       <div class="icon">
        <i class="fa fa-map-marker-alt">
        </i>
       </div>
       <div class="descr">
        <span>
         Beverly Hills, CA 90210
        </span>   
       </div>
      </li>
      <li class="wow fadeInUp fast">
       <div class="icon">
        <i class="fas fa-phone">
        </i>
       </div>
       <div class="descr">
        <a href="tel:435-234-9867" title="our_phone">
         435-234-9867
        </a>   
       </div>
      </li>
      <li class="wow fadeInUp fast">
       <div class="icon">
        <i class="fas fa-envelope">
        </i>
       </div>
       <div class="descr">
        <a href="mailto:info@example.com?subject=Our_Mail" title="Mail Us">
         info@uprealestate.com
        </a>   
       </div>
      </li>
      <li class="wow fadeInUp fast">
       <div class="icon">
        <i class="far fa-clock">
        </i>
       </div>
       <div class="descr">
        <span>
         Monday - Friday: from 9:00 to 18:00
        </span>   
       </div>
      </li>
     </ul>
    </div>

    <div class="footer_item">
     <h2 class="item_title wow fadeInUp fast">
      Latest Tweets
     </h2>
     <ul class="tweets_listing">
      <li class="wow fadeInUp fast">
       <div class="icon">
        <a title="twitter" target="_blank" class="tweets_icon">
         <i class="fab fa-twitter">
         </i>
        </a>
       </div>
       <div class="message">
        <a href="#" class="author" title="tweet's author" target="_blank">
        @Theme_UPRealEstate
        </a>
        <span>
         Sed, orci vel 
         facilisis luctus, neque magna feugiat 
         nulla, ac commodo dui erat. 
        </span>
        <a href="#" class="source"title="tweet's source">
         themeuprealestate.net/building-a-web…
        </a>
       </div>
      </li>
      <li class="wow fadeInUp fast">
       <div class="icon">
        <a title="twitter" target="_blank" class="tweets_icon">
         <i class="fab fa-twitter">
         </i>
        </a>
       </div>
       <div class="message">
        <a href="#" class="author" title="tweet's author" target="_blank">
        @Theme_UPRealEstate
        </a>
        <span>
         Sed, orci vel 
         facilisis luctus, neque magna feugiat 
         nulla, ac commodo dui erat. 
        </span>
        <a href="#" class="source"title="tweet's source">
         themeuprealestate.net/building-a-web…
        </a>
       </div>
      </li>
     </ul>
   </div>

   <div class="footer_item">
    <h2 class="item_title newsletter_title wow fadeInUp fast">
     Newsletter
    </h2>
    <span class="item_text wow fadeInUp fast">
     Sed ultricies, orci vel facilisis luctus, 
     neque magna feugiat nulla, ac commodo 
     dui erat a nibh.
    </span>
    <div class="item_newsletter wow fadeInUp fast">
     <form action="#" class="subscribe" method="POST">
      <input type="email" required placeholder="Enter Your Email Address" pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}" title="Enter Your Email">
       <button type="submit" class="subscribe_button_submit btn">
        Sign Up
      </button>
     </form>
    </div>
   </div>
  </div>
  <div class="footer_bottom">
   <span class="copyright wow fadeInUp fast"> © 2019 UP Real Estate – All Rights Reserved </span>
  </div>
 </div>
</footer>