<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>UP Real Estate</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link rel="stylesheet" href="style/slick.css">
  <link rel="stylesheet" href="style/slick-theme.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.css"/>
  <link rel="stylesheet" href="style/jquery-ui.css">
  <link rel="stylesheet" href="style/main.css">
  <meta name="theme-color" content="#fff">
  <link rel="icon" type="image/png" sizes="64x66" href="img/favicon/up_real_fav.png">
</head>