<!-- BEGIN HERO BANNER -->

<div class="hero_banner">
 <div class="hero_banner_inner container">
  <div class="hero_banner_wrap">
    <div class="hero_banner_entry pull-right">
      <div class="hero_banner_logo wow fadeInLeft">
       <a href="index.html" title="logo" target="_self">
        <img src="img/content/hero_banner_logo.png" width="202" height="88">
       </a>
      </div>
      <p class="hero_banner_text wow fadeInRight">
      Nulla in rutrum massa. Integer urna sem, consequat at eros 
      et, condimentum hendrerit lacus. Sed condimentum fringilla
       massa ac fringilla. Fusce dolor risus, varius sit amet dapibus 
       eu, molestie sed ante. Lorem ipsum dolor sit amet, 
       consectetur adipiscing elit. Suspendisse potenti.
      </p>
      <button class="hero_button_submit btn wow fadeInLeft">
        Learn More
      </button>
    </div>
  </div>
 </div>
</div> 

<!-- END HERO BANNER -->
