<!-- BEGIN PARTNERS -->

<div class="partners">
   <div class="partners_inner container">
    <div class="partners_wrap">
     <h2 class="partners_title wow fadeInUp fast">
      Our Partners
     </h2>
     <h3 class="partners_carousel_title wow fadeInUp fast">
      All Partners
     </h3>
     <div class="partners_carousel">
      <div class="carousel_item animated fast">
       <div class="preview">
        <a href="#" title="our partners">
         <img alt="partners logo" src="img/content/partner_1.png" width="157" height="102"> 
        </a>
       </div>
      </div>
      <div class="carousel_item animated fast">
       <div class="preview">
        <a href="#" title="our partners">
         <img alt="partners logo" src="img/content/partner_2.png" width="157" height="102"> 
        </a>
       </div>
      </div>
      <div class="carousel_item animated fast">
       <div class="preview">
        <a href="#" title="our partners">
         <img alt="partners logo" src="img/content/partner_3.png" width="157" height="102"> 
        </a>
       </div>
      </div>
      <div class="carousel_item animated fast">
       <div class="preview">
        <a href="#" title="our partners">
         <img alt="partners logo" src="img/content/partner_4.png" width="157" height="102"> 
        </a>
       </div>
      </div>
      <div class="carousel_item animated fast">
       <div class="preview">
        <a href="#" title="our partners">
         <img alt="partners logo" src="img/content/partner_5.png" width="157" height="102"> 
        </a>
       </div>
      </div>
      <div class="carousel_item animated fast">
       <div class="preview">
        <a href="#" title="our partners">
         <img alt="partners logo" src="img/content/partner_6.png" width="157" height="102"> 
        </a>
       </div>
      </div>
      <div class="carousel_item animated fast">
       <div class="preview">
        <a href="#" title="our partners">
         <img alt="partners logo" src="img/content/partner_1.png" width="157" height="102"> 
        </a>
       </div>
      </div>
      <div class="carousel_item animated fast">
       <div class="preview">
        <a href="#" title="our partners">
         <img alt="partners logo" src="img/content/partner_2.png" width="157" height="102"> 
        </a>
       </div>
      </div>
      <div class="carousel_item animated fast">
       <div class="preview">
        <a href="#" title="our partners">
         <img alt="partners logo" src="img/content/partner_3.png" width="157" height="102"> 
        </a>
       </div>
      </div>
      <div class="carousel_item animated fast">
       <div class="preview">
        <a href="#" title="our partners">
         <img alt="partners logo" src="img/content/partner_4.png" width="157" height="102"> 
        </a>
       </div>
      </div>
      <div class="carousel_item animated fast">
       <div class="preview">
        <a href="#" title="our partners">
         <img alt="partners logo" src="img/content/partner_5.png" width="157" height="102"> 
        </a>
       </div>
      </div>
      <div class="carousel_item animated fast">
       <div class="preview">
        <a href="#" title="our partners">
         <img alt="partners logo" src="img/content/partner_6.png" width="157" height="102"> 
        </a>
       </div>
      </div>
     </div>
   </div> 
 </div>   
</div>     

<!-- END PARTNERS -->