<!-- BEGIN TESTIMONIALS -->
<div class="testimonials">
 <div class="testimonials_inner container">
  <div class="testimonials_wrap">
   <div class="col testimonials_services">
     <h2 class="testimonials_services_title wow fadeInUp fast">
     Our Services
     </h2>
     <div class="testimonials_services_listing">
      <div class="listing_item first_item">
       <div class="listing_item_accordion wow slideInLeft fast">
        <div class="accrodion_button active_accordion">
          <i class="fas fa-minus">
          </i>
         </div>
        <div class="accordion_text">
         <span>
          Donec eget leo facilisis
         </span>
        </div>
       </div>
       <div class="listing_item_content itemContentVisible animated slideInDown fast">
         <p class="wow slideInLeft fast">
          Suspendisse rhoncus, libero ut eleifend aliquam, dui est consequat diam, 
          vel tincidunt odio risus in tortor. Morbi accumsan leo et tincidunt facilisis. 
          Donec aliquam, magna id blandit dapibus, risus justo venenatis felis, eget 
          luctus nunc velit nec urna. 
         </p>
       </div>
      </div>
       <div class="listing_item second_item">
       <div class="listing_item_accordion wow slideInLeft fast">
        <div class="accrodion_button active_accordion">
          <i class="fas fa-plus">
          </i>
         </div>
        <div class="accordion_text">
         <span>
          Nunc venenatis neque vitae
         </span>
        </div>
       </div>
       <div class="listing_item_content animated slideInDown fast">
         <p>
          Suspendisse rhoncus, libero ut eleifend aliquam, dui est consequat diam, 
          vel tincidunt odio risus in tortor. Morbi accumsan leo et tincidunt facilisis. 
          Donec aliquam, magna id blandit dapibus, risus justo venenatis felis, eget 
          luctus nunc velit nec urna. 
         </p>
       </div>
      </div>
       <div class="listing_item third_item">
       <div class="listing_item_accordion wow slideInLeft fast">
        <div class="accrodion_button active_accordion">
          <i class="fas fa-plus">
          </i>
         </div>
        <div class="accordion_text">
         <span>
          Nam ut accumsan massa
         </span>
        </div>
       </div>
       <div class="listing_item_content animated slideInDown fast">
         <p>
          Suspendisse rhoncus, libero ut eleifend aliquam, dui est consequat diam, 
          vel tincidunt odio risus in tortor. Morbi accumsan leo et tincidunt facilisis. 
          Donec aliquam, magna id blandit dapibus, risus justo venenatis felis, eget 
          luctus nunc velit nec urna. 
         </p>
       </div>
      </div>
     </div>
   </div>

   <div class="col testimonials_agents">
    <h2 class="testimonials_agents_title wow fadeInUp fast">
     What People Say 
     About Us
    </h2>
    <div class="testimonials_agents_reviews">
     <div class="reviews_item">
       <div class="preview wow slideInRight fast">
        <img src="img/content/agent_small_img1.png" width="62" height="62">
       </div>
       <div class="descr">
        <h3 class="descr_title wow slideInRight fast">
         Hanry Ford
        </h3>
        <p class="descr_text wow slideInRight fast">
        Nullam ac vestibulum nisl, in rutrum felis. Pellentesque quis facilisis nisl. 
        Aliquam ut tincidunt sem. Sed at condimentum tellus, vitae elementum 
        odio. Sed hendrerit varius lectus, venenatis blandit ligula pulvinar in. 
        </p>
       </div>
     </div>
      <div class="reviews_item">
       <div class="preview wow slideInRight fast">
        <img src="img/content/agent_small_img2.png" width="62" height="62">
       </div>
       <div class="descr">
        <h3 class="descr_title wow slideInRight fast">
         Eline Dorther
        </h3>
        <p class="descr_text wow slideInRight fast">
        Nullam ac vestibulum nisl, in rutrum felis. Pellentesque quis facilisis nisl. 
        Aliquam ut tincidunt sem. Sed at condimentum tellus, vitae elementum 
        odio. Sed hendrerit varius lectus, venenatis blandit ligula pulvinar in. 
        </p>
       </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div> 
<!-- END TESTIMONIALS -->