// @import 'https://fonts.googleapis.com/css?family=Roboto:300,400,700,900&subset=cyrillic'

@import "vendor/reset";
@import "vendor/normalize";
@import "partials/base";
@import "partials/popups";
@import "partials/extra_header";
@import "partials/header";
@import "partials/navigation";
@import "partials/banner";
@import "partials/latest_properties";
@import "partials/best_agents";
@import "partials/hero_banner";
@import "partials/features_gallery";
@import "partials/featured_listings";
@import "partials/testimonials";
@import "partials/footer";

.uk {
	.flag {
		background-image: url("../img/content/flags.png");
	}

	.dropdown {
		background: url("../img/ui/dropdown_arrow.png") no-repeat center;
	}
}

.fr {
	.flag {
		background-image: url("../img/content/flags.png");
	}
}

.de {
	.flag {
		background-image: url("../img/content/flags.png");
	}
}

.currency_select li .dropdown {
	background: url("../img/ui/dropdown_arrow.png") no-repeat center;
}

.banner {
	background: url("../img/content/banner_bg.jpg") no-repeat center;
}

.main_filter_form_wrap .main_filter_form_select {
	background: url("../img/ui/dropdown_img.png") no-repeat 99.8% #fff;
}

.bed {
	background: url("../img/content/icons.png") 0 0;
}

.bath {
	background: url("../img/content/icons.png") -39px 0;
}

.corner {
	background: url("../img/content/icons.png") -78px 0;
}

.hero_banner {
	background: url("../img/content/hero_banner_bg.jpg") no-repeat center;
}

.small_features_item_container .small_features_item {
	.icon_container {
		a {
			i.papers {
				background: url("../img/content/inversed-icons-sprite.png") -218px -121px;
				display: block;
				width: 100px;
				height: 85px;
				margin: 0 auto;
			}

			i.home {
				background: url("../img/content/inversed-icons-sprite.png") 0 -240px;
				display: block;
				width: 95px;
				height: 85px;
				margin: 0 auto;
			}

			i.human {
				background: url("../img/content/inversed-icons-sprite.png") -367px -127px;
				display: block;
				width: 83px;
				height: 85px;
				margin: 0 auto;
			}
		}
	}
}
