.btn {
	background-color: #3f51b5;
	font-size: 20px;
	border-radius: .1em;
	padding: .3em 1em;
	border: none;
	white-space: nowrap;
	display: inline-flex;
	max-width: 100%;
	text-transform: uppercase;
}
